.orig {
  display: inline;
}
.orignal-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  width: 100%;
  max-width: 320px;
  margin-top: 15px;
}
.orignal-div span {
  display: block;
  line-height: 1.4;
}
.orignal-div img {
  height: 40px;
  object-fit: contain;
}
.Footer-return {
  font-size: 15px;
  width: 100%;
}
.footer-Section-3 {
  margin-top: 60px;
}
footer {
  font-size: 12px;
}
